<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Hello world!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cupiditate voluptatum tenetur amet aperiam aspernatur similique optio quia, aliquid dignissimos possimus quibusdam atque voluptatibus minus, soluta iusto ipsam alias sed.</p>
</body>
</html>
